.btn {
	position: relative;
	width: 260px;
	padding: 12px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	background-color: transparent;
	color: var(--color-white);
	border: 1px solid transparent;
	transition: 0.4s;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background-color: var(--color-accent);
		transform: skewX(-20deg);

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			background-color: #c2ab81;
		}
	}
	&-phone {
		opacity: 0.4;

		&::before {
			border: 1px solid var(--color-white);
			background-color: transparent;
		}

		&:hover {
			opacity: 1;
		}
	}

	@media screen and (min-width: 767px) {
		width: auto;
		font-size: 15px;
	}

	@media screen and (min-width: 813px) {
		padding: 20px 35px;
		font-size: 16px;
	}

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		font-size: 16px;
		color: #fff;
	}
}
