/*===== FORM =====*/
.modal__form {
	display: flex;
	flex-direction: column;
	padding: var(--section-offset) var(--modal-offset);
	@media (min-width: 567px) {
		transform: skewX(5deg);
		padding: calc(var(--section-offset) * 1.5) var(--modal-offset);
	}
	@media (min-width: 992px) {
		flex: 1 1 65%;
		padding: var(--section-offset) var(--modal-offset);
	}
	&__header {
		display: flex;
		justify-content: space-between;
		&-left {
			flex: 0 1 480px;
			justify-content: center;
		}
	}
	&__body {
		display: flex;
		flex: 1 1 100%;
		flex-direction: column;
		justify-content: flex-start;
		@media (min-width: 992px) {
			justify-content: center;
		}
	}
	&__footer {
		display: flex;
		align-items: center;
		margin-top: auto;
		column-gap: calc(var(--grid-gap) * 3);
		@media (min-width: 567px) {
			column-gap: calc(var(--grid-gap) * 3);
		}
		@media (min-width: 992px) {
			column-gap: calc(var(--grid-gap) * 2);
		}
		& p {
			font: var(--btn-font);
			font-size: 10px;
			font-weight: 400;
			@media (min-width: 567px) {
				font-size: 14px;
			}
		}
	}
	&__title {
		margin-bottom: calc(var(--grid-gap) / 2);
		line-height: 1.2;
	}
	&__subtitle {
		max-width: 120%;
		margin-bottom: var(--main-offset);
		@media (min-width: 992px) {
			max-width: 80%;
		}
	}
	& .btn-close {
		flex: 0 0 42px;
		height: 28px;
		background: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--color-white);
		transform: skewX(-18deg);
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		@media (min-width: 567px) {
			flex: 0 0 62px;
			height: 36px;
		}
		@media (min-width: 992px) {
			flex: 0 0 82px;
			height: 56px;
		}
		& span {
			transform: skewX(18deg);
		}
		& svg {
			width: 14px;
			height: 14px;
			transform: skewX(18deg);
			transition: all 0.3s ease-in-out;
			fill: var(--color-white);
			@media (min-width: 567px) {
				width: 18px;
				height: 18px;
			}
			@media (min-width: 992px) {
				width: 24px;
				height: 24px;
			}
		}
		&:hover {
			border: 1px solid var(--color-accent-hover);
			box-shadow: 3px 4px 13px var(--color-accent-hover);
		}
		&:hover svg {
			fill: var(--color-accent-hover);
		}
	}
}

.modal__form__div {
	position: relative;
	height: var(--input-height);
	margin-bottom: calc(var(--grid-gap) / 2);
	display: flex;
	align-items: center;
}

.modal__form__input,
.modal__form__textarea {
	position: relative;
	width: 100%;
	height: 100%;
	font: var(--middle-regular);
	font-size: 14px;
	color: var(--color-white);
	border: 1px solid var(--color-border);
	outline: none;
	overflow: hidden;
	padding: 0 1rem;
	background: none;
	transition: 0.3s;
	z-index: 1;
	@media (min-width: 567px) {
		font-size: 16px;
	}
	&:focus {
		border: 1px solid var(--color-white);
	}
	&._error {
		border: 2px solid red;
	}
}
.modal__form__textarea {
	height: 69%;
	padding: 1rem 1rem;
	@media (min-width: 567px) {
		height: 72%;
	}
}
.modal__form__input:hover,
.modal__form__textarea:hover {
	box-shadow: 3px 4px 13px rgba(225, 228, 243, 0.904);
}

.modal__form__textarea,
.dtext {
	min-width: 160px;
	resize: none;
}

.modal__form__label {
	position: absolute;
	left: 1rem;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 0.1rem;
	color: var(--color-white);
	font: var(--middle-regular);
	font-size: 14px;
	transition: 0.3s;
	@media (min-width: 567px) {
		font-size: 16px;
	}
}
.dtext {
	min-height: calc(var(--textarea-height) + 2rem);
	margin-bottom: var(--grid-gap);
}
.dtext .daform__label {
	top: 20%;
	padding: 0 0.1rem;
}
.modal__form__btn {
	display: block;
	border: none;
	flex: 0 0 40%;
	@media (min-width: 567px) {
		flex: 0 0 35%;
	}
}

.modal__form__btn span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) skewX(18deg);
}

.modal__form__input:placeholder-shown:focus ~ .daform__label,
.modal__form__input:not(:placeholder-shown) ~ .daform__label {
	top: 21%;
	left: 0.8rem;
	font: var(--middle-regular);
	font-size: 12px;
	opacity: 0.5;
	z-index: 10;
}
.dtext .daform__textarea:placeholder-shown:focus ~ .daform__label,
.dtext .daform__textarea:not(:placeholder-shown) ~ .daform__label {
	top: 11%;
	left: 0.8rem;
	font: var(--middle-regular);
	font-size: 12px;
	opacity: 0.5;
	z-index: 10;
}
