/*===== FORM =====*/
.modal__form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: var(--grid-gap);
	gap: 15px;

	@media (min-width: 567px) {
		padding: calc(var(--grid-gap) * 1.5);
	}

	@media (min-width: 992px) {
		padding: calc(var(--grid-gap) * 2);
	}

	&-header {
		display: flex;
		justify-content: space-between;

		&-left {
			flex: 0 1 500px;
			justify-content: center;
		}
	}
	&-body {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 15px;
	}

	&-footer {
		display: flex;
		align-items: center;
		// margin-top: auto;
		column-gap: calc(var(--grid-gap) * 3);

		@media (min-width: 567px) {
			column-gap: calc(var(--grid-gap) * 3);
		}

		@media (min-width: 992px) {
			column-gap: calc(var(--grid-gap) * 2);
		}

		& p {
			font-size: 10px;
			font-weight: 400;

			@media (min-width: 567px) {
				font-size: 14px;
			}
		}
	}

	&-title {
		margin-bottom: calc(var(--grid-gap) / 2);
		line-height: 1.2;
	}

	&-subtitle {
		max-width: 120%;
		margin-bottom: var(--main-offset);

		@media (min-width: 992px) {
			max-width: 80%;
		}
	}

	& .btn-close {
		height: 28px;
		flex: 0 0 42px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: transparent;
		transition: all 0.3s ease-in-out;
		cursor: pointer;

		@media (min-width: 567px) {
			flex: 0 0 62px;
			height: 36px;
		}

		@media (min-width: 992px) {
			flex: 0 0 82px;
			height: 56px;
		}

		& svg {
			width: 14px;
			height: 14px;
			transition: all 0.3s ease-in-out;
			fill: var(--color-white);

			@media (min-width: 567px) {
				width: 18px;
				height: 18px;
			}

			@media (min-width: 992px) {
				width: 24px;
				height: 24px;
			}
		}
	}
}

.modal__form-div {
	position: relative;
	height: var(--input-height);

	&__wrapper {
		position: relative;
		width: 100%;
		height: var(--input-height);
	}
}

.modal__form-input,
.modal__form-textarea {
	position: relative;
	width: 100%;
	height: var(--input-height);
	padding: 0 1rem;
	font-size: 14px;
	color: var(--color-white);
	background: none;
	border: 1px solid #2b2b2b;
	outline: none;
	transition: 0.3s;
	z-index: 1;

	@media screen and (min-width: 1024px) {
		font-size: 16px;
	}

	&:focus {
		border: 1px solid var(--color-white);
	}

	&._error {
		border: 2px solid red;
	}
}

.modal__form-textarea {
	height: 70px;
	padding: 1rem 1rem;

	@media (min-width: 1024px) {
		height: 150px;
	}
}

.modal__form-input:hover,
.modal__form-textarea:hover {
	box-shadow: 3px 4px 13px rgba(225, 228, 243, 0.904);
}

.modal__form-textarea,
.dtext {
	min-width: 160px;
	resize: none;
}

.modal__form-label {
	position: absolute;
	left: 1rem;
	top: 50%;
	padding: 0 0.1rem;
	font-size: 14px;
	color: var(--color-white);
	transition: 0.3s;
	transform: translateY(-50%);

	@media (min-width: 567px) {
		font-size: 16px;
	}
}

.dtext {
	min-height: calc(var(--input-height) + 2rem);
}

.dtext .modal-form-label {
	top: 20%;
	padding: 0 0.1rem;
}

.modal__form-btn {
	display: block;
	flex: 0 0 40%;
	border: none;

	@media (min-width: 567px) {
		flex: 0 0 35%;
	}
}

.modal__form-input:placeholder-shown:focus ~ .modal__form-label,
.modal__form-input:not(:placeholder-shown) ~ .modal__form-label,
.dtext .modal__form-textarea:placeholder-shown:focus ~ .modal__form-label,
.dtext .modal__form-textarea:not(:placeholder-shown) ~ .modal__form-label {
	top: 9px;
	left: 0.8rem;
	font-size: 12px;
	opacity: 0.5;
	z-index: 10;
}
