<section class="cards" id="tickets">
	<div class="container cards__container">
		<h2 class="title cards__title">Карточки</h2>
		<div class="cards__grid">
			<div class="cards__item card">
				<div class="card__wrapper">
					<a href="#">
						<picture>
							<source srcset="./img/card/01_1.webp" type="image/webp" loading="lazy" />
							<img src="./img/card/01_1.jpg" alt="Изображение" loading="lazy" />
						</picture>
					</a>
					<div class="card__content">
						<h4 class="card__content-category">
							<a href="#">Bridge</a>
						</h4>
						<h3 class="card__content-title">
							<a href="#">How to&nbsp;increase your productivity with a&nbsp;Music</a>
						</h3>
						<div class="card__content-description">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem
						</div>
						<div class="card__content-footer">
							Posted by <a href="#" class="card__content-author">Eugenia</a>, on
							<span class="card__content-date">July 24, 2019</span>
						</div>
						<a href="#" class="btn btn-card">Continue reading</a>
					</div>
				</div>
			</div>
			<div class="cards__item card">
				<div class="card__wrapper">
					<a href="#">
						<picture>
							<source srcset="./img/card/02.webp" type="image/webp" loading="lazy" />
							<img src="./img/card/02.jpg" alt="Изображение" loading="lazy" />
						</picture>
					</a>
					<div class="card__content">
						<h4 class="card__content-category">
							<a href="#">Bridge</a>
						</h4>
						<h3 class="card__content-title">
							<a href="#">How to&nbsp;increase your </a>
						</h3>
						<div class="card__content-description">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						</div>
						<div class="card__content-footer">
							Posted by <a href="#" class="card__content-author">Eugenia</a>, on
							<span class="card__content-date">July 24, 2019</span>
						</div>
						<a href="#" class="btn btn-card">Continue reading</a>
					</div>
				</div>
			</div>
			<div class="cards__item card">
				<div class="card__wrapper">
					<a href="#">
						<picture>
							<source srcset="./img/card/03.webp" type="image/webp" loading="lazy" />
							<img src="./img/card/03.jpg" alt="Изображение" loading="lazy" />
						</picture>
					</a>
					<div class="card__content">
						<h4 class="card__content-category">
							<a href="#">Bridge</a>
						</h4>
						<h3 class="card__content-title">
							<a href="#">How to&nbsp;increase your productivity with a&nbsp;Music</a>
						</h3>
						<div class="card__content-description">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						</div>
						<div class="card__content-footer">
							Posted by <a href="#" class="card__content-author">Eugenia</a>, on
							<span class="card__content-date">July 24, 2019</span>
						</div>
						<a href="#" class="btn btn-card">Continue reading</a>
					</div>
				</div>
			</div>
			<div class="cards__item card">
				<div class="card__wrapper">
					<a href="#">
						<picture>
							<source srcset="./img/card/04.webp" type="image/webp" loading="lazy" />
							<img src="./img/card/04.jpg" alt="Изображение" loading="lazy" />
						</picture>
					</a>
					<div class="card__content">
						<h4 class="card__content-category">
							<a href="#">Bridge</a>
						</h4>
						<h3 class="card__content-title">
							<a href="#">How to&nbsp;increase your productivity with a&nbsp;Music</a>
						</h3>
						<div class="card__content-description">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						</div>
						<div class="card__content-footer">
							Posted by <a href="#" class="card__content-author">Eugenia</a>, on
							<span class="card__content-date">July 24, 2019</span>
						</div>
						<a href="#" class="btn btn-card">Continue reading</a>
					</div>
				</div>
			</div>
			<div class="cards__item card">
				<div class="card__wrapper">
					<a href="#">
						<picture>
							<source srcset="./img/card/04.webp" type="image/webp" loading="lazy" />
							<img src="./img/card/04.jpg" alt="Изображение" loading="lazy" />
						</picture>
					</a>
					<div class="card__content">
						<h4 class="card__content-category">
							<a href="#">Bridge</a>
						</h4>
						<h3 class="card__content-title">
							<a href="#">How to&nbsp;increase your </a>
						</h3>
						<div class="card__content-description">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						</div>
						<div class="card__content-footer">
							Posted by <a href="#" class="card__content-author">Eugenia</a>, on
							<span class="card__content-date">July 24, 2019</span>
						</div>
						<a href="#" class="btn btn-card">Continue reading</a>
					</div>
				</div>
			</div>
			<div class="cards__item card">
				<div class="card__wrapper">
					<a href="#">
						<picture>
							<source srcset="./img/card/06.webp" type="image/webp" loading="lazy" />
							<img src="./img/card/06.jpg" alt="Изображение" loading="lazy" />
						</picture>
					</a>
					<div class="card__content">
						<h4 class="card__content-category">
							<a href="#">Bridge</a>
						</h4>
						<h3 class="card__content-title">
							<a href="#">How to&nbsp;increase your productivity with a&nbsp;Music</a>
						</h3>
						<div class="card__content-description">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem
						</div>
						<div class="card__content-footer">
							Posted by <a href="#" class="card__content-author">Eugenia</a>, on
							<span class="card__content-date">July 24, 2019</span>
						</div>
						<a href="#" class="btn btn-card">Continue reading</a>
					</div>
				</div>
			</div>
			<div class="cards__item card">
				<div class="card__wrapper">
					<a href="#">
						<picture>
							<source srcset="./img/card/08.webp" type="image/webp" loading="lazy" />
							<img src="./img/card/08.jpg" alt="Изображение" loading="lazy" />
						</picture>
					</a>
					<div class="card__content">
						<h4 class="card__content-category">
							<a href="#">Bridge</a>
						</h4>
						<h3 class="card__content-title">
							<a href="#">How to&nbsp;increase your </a>
						</h3>
						<div class="card__content-description">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						</div>
						<div class="card__content-footer">
							Posted by <a href="#" class="card__content-author">Eugenia</a>, on
							<span class="card__content-date">July 24, 2019</span>
						</div>
						<a href="#" class="btn btn-card">Continue reading</a>
					</div>
				</div>
			</div>
			<div class="cards__item card">
				<div class="card__wrapper">
					<a href="#">
						<picture>
							<source srcset="./img/card/03.webp" type="image/webp" loading="lazy" />
							<img src="./img/card/03.jpg" alt="Изображение" loading="lazy" />
						</picture>
					</a>
					<div class="card__content">
						<h4 class="card__content-category">
							<a href="#">Bridge</a>
						</h4>
						<h3 class="card__content-title">
							<a href="#">How to&nbsp;increase your productivity with a&nbsp;Music</a>
						</h3>
						<div class="card__content-description">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						</div>
						<div class="card__content-footer">
							Posted by <a href="#" class="card__content-author">Eugenia</a>, on
							<span class="card__content-date">July 24, 2019</span>
						</div>
						<a href="#" class="btn btn-card">Continue reading</a>
					</div>
				</div>
			</div>
			<div class="cards__item card">
				<div class="card__wrapper">
					<a href="#">
						<picture>
							<source srcset="./img/card/09.webp" type="image/webp" loading="lazy" />
							<img src="./img/card/09.jpg" alt="Изображение" loading="lazy" />
						</picture>
					</a>
					<div class="card__content">
						<h4 class="card__content-category">
							<a href="#">Bridge</a>
						</h4>
						<h3 class="card__content-title">
							<a href="#">How to&nbsp;increase your productivity with a&nbsp;Music</a>
						</h3>
						<div class="card__content-description">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						</div>
						<div class="card__content-footer">
							Posted by <a href="#" class="card__content-author">Eugenia</a>, on
							<span class="card__content-date">July 24, 2019</span>
						</div>
						<a href="#" class="btn btn-card">Continue reading</a>
					</div>
				</div>
			</div>
			<div class="cards__item card">
				<div class="card__wrapper">
					<a href="#">
						<picture>
							<source srcset="./img/card/10.webp" type="image/webp" loading="lazy" />
							<img src="./img/card/10.jpg" alt="Изображение" loading="lazy" />
						</picture>
					</a>
					<div class="card__content">
						<h4 class="card__content-category">
							<a href="#">Bridge</a>
						</h4>
						<h3 class="card__content-title">
							<a href="#">How to&nbsp;increase your </a>
						</h3>
						<div class="card__content-description">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							santium doloremque laudantium, totam rem sed ut perspiciatis unde
							omnis iste natus error sit voluptatem accusantium dolo…
						</div>
						<div class="card__content-footer">
							Posted by <a href="#" class="card__content-author">Eugenia</a>, on
							<span class="card__content-date">July 24, 2019</span>
						</div>
						<a href="#" class="btn btn-card">Continue reading</a>
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-primary cards-btn">Загрузить ещё...</button>
	</div>

</section>