<header class="header">
	<div class="container header__container">
		<div class="header__menu-icon">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<a href="#home" class="logo header__logo">
			<svg>
				<use xlink:href="img/sprite.svg#logo"></use>
			</svg>
		</a>
		<nav class="nav header__nav">
			<ul class="header__nav-list nav__list">
				<li class="nav__item">
					<a href="#services" class="nav__link _goto-block">Услуги</a>
				</li>
				<li class="nav__item">
					<a href="#tickets" class="nav__link">Абонементы</a>
				</li>
				<li class="nav__item">
					<a href="#about" class="nav__link">Почему мы</a>
				</li>
				<li class="nav__item">
					<a href="#equipment" class="nav__link">Оборудование</a>
				</li>
				<li class="nav__item">
					<a href="#action" class="nav__link">Акции</a>
				</li>
				<li class="nav__item">
					<a href="#faq" class="nav__link">FAQ</a>
				</li>
				<li class="nav__item">
					<a href="#contacts" class="nav__link">Контакты</a>
				</li>
			</ul>
			<div class="header__buttons">
				<a href="tel:+99999999999" class="btn btn-phone">
					<svg>
						<use xlink:href="img/sprite.svg#phone"></use>
					</svg>
				</a>
				<button class="btn modal-open" data-path="form-popup">
					<span>Оставить заявку</span>
				</button>
			</div>
		</nav>
	</div>
</header>