<div class="modal">
	<div class="modal-overlay">
		<div class="modal__wrapper" data-target="form-popup">
			<div class="modal-content">
				<div class="modal-img">
					<picture>
						<source srcset="./img/planet.webp" type="image/webp" loading="lazy" />
						<img src="./img/planet.jpg" alt="Изображение" loading="lazy" />
					</picture>
				</div>
				<form class="modal__form" action="#" id="form">
					<div class="modal__form-header">
						<div class="modal__form-header-left">
							<div class="title modal__form-title">Оставьте заявку</div>
							<div class="modal__form-subtitle">
								Оставьте заявку и&nbsp;наш менеджер свяжется с&nbsp;вами в&nbsp;течение 10-15 минут
							</div>
						</div>
						<button href="tel:+" class="btn-close">
							<svg>
								<use xlink:href="img/sprite.svg#close"></use>
							</svg>
						</button>
					</div>
					<div class="modal__form-body">
						<div class="modal__form-div">
							<input autocomplete="off" type="text" name="Имя" class="modal__form-input"
								placeholder=" " />
							<label for="" class="modal__form-label">Ваше Имя<i>*</i></label>
						</div>
						<div class="modal__form-div">
							<input autocomplete="off" type="email" name="Имя" class="modal__form-input"
								placeholder=" " />
							<label for="" class="modal__form-label">Ваш E-mail<i>*</i></label>
						</div>
						<div class="modal__form-div">
							<input autocomplete="off" type="tel" name="Телефон" class="modal__form-input"
								placeholder=" " />
							<label for="" class="modal__form-label">Ваш Телефон<i>*</i> +7 (XXX) XXX XX XX</label>
						</div>
						<div class="modal__form-div dtext">
							<textarea name="Сообщение" rows="3" class="modal__form-textarea" placeholder=" "></textarea>
							<label for="" class="modal__form-label">Сообщение<i>*</i></label>
						</div>
					</div>
					<div class="modal__form-footer">
						<button type="submit" class="modal__form-btn btn btn-primary">
							<span>Отправить</span>
						</button>
						<p>
							Нажимая на&nbsp;кнопку &laquo;Оставить заявку&raquo; вы&nbsp;соглашаетесь с
							<a href="#">&laquo;Пользовательским соглашением&raquo;</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>