<section class="news">
	<div class="news__container">
		<h1 class="news__title visually-hidden">Magwai</h1>
		<!-- Slider main container -->
		<div class="swiper-container">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide slide">
					<div class="slide__bg">
						<picture>
							<source srcset="../img/banner-1.webp" type="image/webp" loading="lazy" />
							<img src="../img/banner-1.jpg" alt="Изображение" loading="lazy" />
						</picture>
					</div>
					<div class="container slide__container">
						<div class="slide-content">
							<div class="slide-content__text">
								<h3 class="slide-content-title">Полет Илона Маска и&nbsp;DOGIE COIN</h3>
								<div class="anons visually-hidden">Полет Илона</div>
								<!-- краткие заголовки для навигации -->
								<p>В прошлый четверг все офигели от полета DOGIE COIN на марс.</p>
							</div>
							<button class="btn btn--primary modal-open" data-path="form-popup">
								<span>оставить заявку</span>
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide slide">
					<div class="slide__bg">
						<picture>
							<source srcset="../img/banner-2.webp" type="image/webp" loading="lazy" />
							<img src="../img/banner-2.jpg" alt="Изображение" loading="lazy" />
						</picture>
					</div>
					<div class="container slide__container">
						<div class="slide-content">
							<div class="slide-content__text">
								<h3 class="slide-content-title">DOGIE COIN УПАЛ</h3>
								<div class="anons visually-hidden">УПАЛ</div>
								<!-- краткие заголовки для навигации -->
								<p>Все в шоке, я потерял все деньги</p>
							</div>
							<button class="btn btn--primary modal-open" data-path="form-popup">
								<span>оставить заявку</span>
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide slide">
					<div class="slide__bg">
						<picture>
							<source srcset="../img/banner-3.webp" type="image/webp" loading="lazy" />
							<img src="../img/banner-3.jpg" alt="Изображение" loading="lazy" />
						</picture>
					</div>
					<div class="container slide__container">
						<div class="slide-content">
							<div class="slide-content__text">
								<h3 class="slide-content-title">Эпическое возвращения на&nbsp;хаи</h3>
								<div class="anons visually-hidden">ВОЗВРАЩЕНИЕ</div>
								<!-- краткие заголовки для навигации -->
								<p>Все в шоке, я снова богат</p>
							</div>
							<button class="btn btn--primary modal-open" data-path="form-popup">
								<span>Оставить заявку</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</section>