// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
	--color-accent: #c2ab81;
	--color-black: #000;
	--color-white: #fff;
	--color-bg: #272727;

	--height-header: 68px;

	@media screen and (min-width: 767px) {
		--height-header: 116px;
	}
}
