// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
	--color-accent: #c2ab81;
	--color-black: #131313;
	--color-white: #fff;
	--color-bg: #272727;

	--mw-container: 1530px;
	--height-header: 68px;
	--grid-gap: 10px;
	--big-grid-gap: 15px;
	--main-offset: 10px;

	@media screen and (min-width: 767px) {
		--height-header: 116px;
		--grid-gap: 15px;
		--big-grid-gap: 25px;
		--main-offset: 20px;
	}

	@media screen and (min-width: 1100px) {
		--height-header: 120px;
	}

	@media screen and (min-width: 1400px) {
		--grid-gap: 20px;
		--main-offset: 40px;
		--big-grid-gap: 70px;
	}
}
